<button class="btn" (click)="get_data_via_api()" mat-raised-button color="primary">APIでデータを取得</button>

<br><br>下記データはAPI(Java)でデータを取得<br>
<div *ngIf="usr_list.length > 0">
    <table border="0" cellspacing="0" cellpadding="0">
        <thead>
            <th>No.</th>
            <th class="th_name">Name</th>
        </thead>
        <tbody>
            <tr *ngFor="let u of usr_list">
                <td>{{u.no}}</td>
                <td>{{u.name}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn" (click)="clear_data()" mat-raised-button color="warn"> クリア </button>
</div>
